$large-screen: 1824px;
$laptop-screen: 1224px;
$tablet-screen: 768px;
$mobile-screen: 332px;

@mixin hd-screen {
	@media (max-width: #{$large-screen}) and (min-width: #{$laptop-screen + 1px}) {
		@content;
	}
}

@mixin desktop-screen {
	@media (max-width: #{$laptop-screen}) and (min-width: #{$tablet-screen + 1px}) {
		@content;
	}
}

@mixin tablet-screen {
	@media (max-width: #{$tablet-screen}) and (min-width: #{$mobile-screen + 1px}) {
		@content;
	}
}

@mixin mobile-screen {
	@media (max-width: #{$mobile-screen}) {
		@content;
	}
}