.mr-sm {
	margin-right: 10px;
}

.mr-md {
	margin-right: 20px;
}

.mr-lg {
	margin-right: 30px;
}

.ml-sm {
	margin-left: 10px;
}

.ml-md {
	margin-left: 20px;
}

.ml-lg {
	margin-left: 30px;
}

.mt-sm {
	margin-top: 10px;
}

.mt-md {
	margin-top: 20px;
}

.mt-lg {
	margin-top: 30px;
}

.mb-sm {
	margin-bottom: 10px;
}

.mb-md {
	margin-bottom: 20px;
}

.mb-lg {
	margin-bottom: 30px;
}

.mv-sm {
	margin-right: 10px;
	margin-left: 10px;
}

.mv-md {
	margin-right: 20px;
	margin-left: 20px;
}

.mv-lg {
	margin-right: 30px;
	margin-left: 30px;
}

.mh-sm {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mh-md {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mh-lg {
	margin-top: 30px;
	margin-bottom: 30px;
}

.d-flex {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}