.weather-icon {
	fill: #fff;

	@include hd-screen {
		width: 600px;
	}

	@include desktop-screen {
		width: 400px;
	}

	@include tablet-screen {
		width: 500px;
	}

	@include mobile-screen {
		width: 500px;
	}
}